main{
    min-height: 100vh;
}
#div_home{
    width: 100%;
    display: flex;
    justify-content:start;
}
#img_logo1{
    width: 50px;
    height: 60px;
}
.icon{
    width: 40px;
    height: 35px;
}
#home_photos{
    display: flex;
    align-self: center;
}
footer{
    position: static;
}

